* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: rgba(43, 41, 45, 1);
}

/**Reset CSS**/

p {
  letter-spacing: -0.01em;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/**Set container max width**/

@media screen and (min-width: 1200px) {
  .container-md {
    max-width: 960px;
  }
}

/**landing section**/

.landing-section {
  background-color: rgba(253, 222, 216, 1);
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  color: inherit;
  letter-spacing: -0.05em;
  line-height: 1;
  text-align: center;
}

.landing-description-mobile {
  margin-bottom: 24px;
  font-size: 16px;
  color: inherit;
  line-height: 1.375;
  text-align: center;
}

.landing-description-desktop {
  display: none;
}

.landing-buttongroup {
  display: flex;
  justify-content: center;
}

.blueButton,
.whiteButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.6;
}

.blueButton {
  background-color: rgba(48, 64, 196, 1);
  color: rgba(255, 255, 255, 1);
}

.whiteButton {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(48, 64, 196, 1);
}

.landing-buttongroup .blueButton {
  margin-right: 8px;
}

.blueButton:hover,
.whiteButton:hover {
  opacity: 50%;
  transition: opacity 300ms ease-in-out;
}

/**testimonials-section**/

.testimonials-section {
  width: 100%;
  padding: 80px 0;
  background-color: rgba(244, 245, 247, 1);
}

.testimonials-title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  color: inherit;
  letter-spacing: -0.04em;
  line-height: 1.3636363636;
}

.testimonials-description {
  font-size: 16px;
  color: inherit;
  line-height: 1.5;
}

.testimonials-section .col-sm-12:first-child {
  margin-bottom: 40px;
}

/**program-section**/

.program-section {
  padding: 80px 0;
  background-color: rgba(255, 255, 255, 1);
}

.program-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 291px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.program-section .col-sm-12:not(:last-child) {
  margin-bottom: 20px;
}

.program-image-box > img {
  display: block;
  width: auto;
  height: 195px;
  margin-bottom: 16px;
}

.program-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.333;
  color: rgba(43, 41, 45, 1);
}

.header-category {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

.textColor-green {
  color: rgba(0, 155, 77, 1);
}

.header-title {
  margin-bottom: 24px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.058823529411765;
}

.header-description {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
}

/**Curriculum-section**/

.curriculum-section {
  width: 100%;
  padding: 80px 0;
  background-color: rgba(255, 255, 255, 1);
}

.curriculum-image-box {
  display: none;
}

.curriculum-header {
  margin-bottom: 48px;
}

.textColor-blue {
  color: rgba(1, 137, 209, 1);
}

.curriculum-description {
  font-size: 15px;
  letter-spacing: -0.01em;
  line-height: 1.46666666;
}

.curriculum-section .col-sm-12:nth-child(3) {
  margin-bottom: 40px;
}

/**banner-section**/

.banner-section {
  width: 100%;
  padding: 40px 0;
  background-color: rgba(242, 248, 250, 1);
}

.banner-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
}

.banner-image {
  width: 190px;
  height: 190px;
}

.banner-title {
  margin-bottom: 16px;
  font-size: 32px;
  letter-spacing: -0.05em;
  line-height: 1;
  text-align: center;
}

.banner-description {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.banner-form {
  text-align: center;
}

.banner-form-emailInput {
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
  font-size: 16px;
  font-family: inherit;
  text-indent: 16px;
  color: rgba(123, 123, 126, 1);
  letter-spacing: -0.01em;
  line-height: 1.5;
  border: none;
}

.banner-form-startButton {
  width: 100%;
  margin-bottom: 8px;
}

.banner-misc {
  font-size: 13px;
  color: rgba(123, 123, 126, 1);
  letter-spacing: 0;
  line-height: 1.538461538461538;
  text-align: center;
}

.banner-misc > a {
  color: rgba(48, 64, 196, 1);
  text-decoration: underline;
}

/**footer-section**/

.footer-section {
  padding: 24px 0;
  width: 100%;
}

.footer-anchorGroup {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.footer-anchorGroup > a {
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 1.7142857;
  color: rgba(128, 127, 129, 1);
}

.footer-anchorGroup > a:not(:last-child) {
  margin-bottom: 8px;
}

/****In desktop****/

@media screen and (min-width: 768px) {
  /**landing-section**/

  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    margin-bottom: 32px;
    font-size: 70px;
    line-height: 1.028571428571429;
  }

  .landing-description-mobile {
    display: none;
  }

  .landing-description-desktop {
    display: block;
    margin-bottom: 32px;
    font-size: 22px;
    color: inherit;
    line-height: 1.454545454545455;
    text-align: center;
  }

  .blueButton,
  .whiteButton {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555555556;
  }

  .landing-buttongroup .blueButton {
    margin-right: 16px;
  }

  /**testimonials-section**/

  .testimonials-section {
    padding: 80px 0;
  }

  .testimonials-title {
    font-size: 26px;
    line-height: 1.307692307692308;
  }

  .testimonials-description {
    font-size: 22px;
    line-height: 1.454545454545455;
  }

  .testimonials-section .col-sm-12:first-child {
    margin-bottom: 0;
  }

  /**program-section**/

  .program-section {
    width: 100%;
    padding: 80px 0 96px;
  }

  .header-category {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.090909090909091;
  }

  .header-title {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1;
  }

  .header-description {
    margin-bottom: 72px;
    font-size: 22px;
    line-height: 1.454545454545455;
  }

  .program-header > .header-category,
  .program-header > .header-title,
  .program-header > .header-description {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  .program-header-title {
    margin-bottom: 32px;
  }

  .program-image-box {
    height: 299px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms ease-in-out;
  }

  .program-section .col-sm-12:not(:last-child) {
    margin-bottom: 0;
  }

  .program-image-box > img {
    margin-bottom: 24px;
  }

  .program-image-box:hover {
    background-color: rgba(49, 65, 197, 1);
  }

  .program-image-box strong {
    transition: color 400ms ease-in-out;
  }

  .program-image-box:hover strong {
    color: rgba(255, 255, 255, 1);
  }

  .program-title {
    font-size: 20px;
    line-height: 1.2;
  }

  /**curriculum-section**/

  .curriculum-section {
    width: 100%;
    padding: 80px 0 96px;
  }

  .curriculum-image-box {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .curriculum-image {
    width: 94.44444444%;
    height: auto;
    max-width: 425px;
    height: auto;
  }

  .curriculum-header {
    margin-bottom: 66px;
  }

  .header-description {
    margin-bottom: 72px;
  }

  .curriculum-description {
    font-size: 18px;
    line-height: 1.444444444444444;
  }

  .curriculum-section .col-sm-12:nth-child(3) {
    margin-bottom: 0;
  }

  /**banner-section**/

  .banner-section {
    padding: 80px 0;
  }

  .banner-image-box {
    display: block;
    width: 100%;
    height: auto;
  }

  .banner-image {
    display: block;
    width: 285px;
    height: auto;
    padding: 8px 0;
  }

  .banner-title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1;
    text-align: inherit;
  }

  .banner-description {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 1.454545454545455;
    text-align: inherit;
  }

  .banner-form {
    display: flex;
  }

  .banner-form-emailInput {
    /* display: inline-block; */
    height: 56px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 2p;
    font-size: 18px;
    text-indent: 16px;
    line-height: 1.333333333333333;
  }

  .banner-form-startButton {
    flex-shrink: 0;
  }

  .banner-misc {
    text-align: inherit;
  }

  /**footer**/

  .footer-section {
    padding: 16px 0;
  }

  .footer-anchorGroup {
    flex-direction: row;
    align-content: center;
  }

  .footer-anchorGroup > a {
    font-size: 14px;
    line-height: 1.714285714285714;
  }

  .footer-anchorGroup > a:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
